<meta charset="utf-8">
<title>Yi Pan - Homepage</title>
<meta name="description" content="{{ site.description | escape }}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="og:type" content="website">
<meta property="og:title" content="Yi Pan - Homepage">
<meta property="og:description" content="{{ site.description | escape }}">
<meta property="og:url" content="{{ page.url | absolute_url }}">
<link rel="canonical" href="{{ page.url | absolute_url }}">
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/homepage.css' | relative_url }}">
